# Amazon review data (2018)

Justifying recommendations using distantly-labeled reviews and fined-grained aspects
Jianmo Ni, Jiacheng Li, Julian McAuley Empirical Methods in Natural Language Processing (EMNLP), 2019

Link: https://cseweb.ucsd.edu/~jmcauley/datasets/amazon_v2/

## Magazine Subscriptions
We have used Magazine subscriptions dataset from amazon review data for our project.

Ratings & reviews: https://jmcauley.ucsd.edu/data/amazon_v2/categoryFiles/Magazine_Subscriptions.json.gz

Magazines metadata: https://jmcauley.ucsd.edu/data/amazon_v2/metaFiles2/meta_Magazine_Subscriptions.json.gz

In [1]:
# importing libraries

import pandas as pd

ratings_data_path = "https://jmcauley.ucsd.edu/data/amazon_v2/categoryFiles/Magazine_Subscriptions.json.gz"
magazines_data_path = "https://jmcauley.ucsd.edu/data/amazon_v2/metaFiles2/meta_Magazine_Subscriptions.json.gz"

ratings_df = pd.read_json(ratings_data_path, lines=True)
magazines_df = pd.read_json(magazines_data_path, lines=True)

In [4]:
def get_memory_usage(df:pd.DataFrame, display:bool=True) -> float:
    # Calculate memory usage of each column in bytes
    memory_usage = df.memory_usage(deep=True)
    # Sum memory usage of all columns and convert to MB
    total_memory_usage = memory_usage.sum() / (1024*1024)
    if display:
        print(f'Total memory usage: {total_memory_usage:.2f} MB')

In [2]:
magazines_df

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes
0,"[Magazine Subscriptions, Professional & Educat...",,[REASON is edited for people interested in eco...,,"<span class=""a-size-medium a-color-secondary""","[B002PXVYLE, B01MCU84LB, B000UHI2LW, B01AKS14A...",,Reason Magazine,[],[],"[B002PXVYLE, B000UHI2LW, B01MCU84LB, B002PXW18...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B00005N7NQ,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
1,"[Magazine Subscriptions, Arts, Music &amp; Pho...",,[Written by and for musicians. Covers a variet...,,"<span class=""a-size-medium a-color-secondary""","[B002PXVYGE, B0054LRNC8, B000BVEELE, B00006KC3...",,String Letter Publishers,[],742 in Magazine Subscriptions (,"[B002PXVYGE, B0054LRNC8, B00006L16A, 171906487...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B00005N7OC,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
2,"[Magazine Subscriptions, Fashion &amp; Style, ...",,[Allure is the beauty expert. Every issue is f...,,"<span class=""a-size-medium a-color-secondary""","[B001THPA4O, B002PXVZWW, B001THPA1M, B001THPA1...",,Conde Nast Publications,[],[],"[B002PXVZWW, B001THPA4O, B001THPA1M, B01N819UD...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B00005N7OD,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
3,"[Magazine Subscriptions, Sports, Recreation & ...",,[FLIGHT JOURNAL includes articles on aviation ...,,"<span class=""a-size-medium a-color-secondary""","[B07JVF7QW4, B00ATQ6FPY, B002G551F6, B00008CGW...",,AirAge Publishing,[],[],"[B002G551F6, B00ATQ6FPY, B00005N7PT, B001THPA2...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B00005N7O9,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
4,"[Magazine Subscriptions, Professional & Educat...",,[RIDER is published for the road and street ri...,,"<span class=""a-size-medium a-color-secondary""","[B002PXVYD2, B01BM7TOU6, B000060MKJ, B000BNNIG...",,EPG Media & Specialty Information,[],[],"[B01BM7TOU6, B000060MKJ, B002PXVYD2, B000BNNIG...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B00005N7O6,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3380,[],,"[The game's most widely read publication, GOLF...",,"<span class=""a-size-medium a-color-secondary""",[],,TI Golf Holdings,[],[],[],"{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B01HI8V19K,[],[]
3381,"[Magazine Subscriptions, Sports, Recreation & ...",,"[Built for the true classic car enthusiast, ea...",,"<span class=""a-size-medium a-color-secondary""","[B002PXVYO6, B01FIR6AJ4, B00006KGT1, B01DPP7H5...",,"Motorsport Marketing, Inc.",[],[],"[B01FV4YCNA, B00006KGT1, B002PXVYO6, B0047VIAI...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B01HI8V1I6,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
3382,"[Magazine Subscriptions, Fashion & Style]",,[InStyle celebrates the private side of public...,,"<span class=""a-size-medium a-color-secondary""",[],,Meredith Corporation,[],[],[],"{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B01HI8V0ZK,[],[]
3383,[],,[Sports Illustrated brings you spectacular act...,,"<span class=""a-size-medium a-color-secondary""",[],,Meredith Corporation,[],[],[],"{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B01HI8V1C2,[],[]
3384,[],,[Get fresh ideas and inspiration on how to mak...,,"<span class=""a-size-medium a-color-secondary""",[],,Meredith Corporation,[],[],[],"{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,NaT,,B01HI8V1MC,[],[]

In [5]:
get_memory_usage(ratings_df)

ratings_df.head()

Total memory usage: 75.55 MB

,overall,vote,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,image
0,5,9,False,"11 8, 2001",AH2IFH762VY5U,B00005N7P0,ted sedlmayr,"for computer enthusiast, MaxPC is a welcome si...","AVID READER SINCE ""boot"" WAS THE NAME",1005177600,NaN,NaN
1,5,9,False,"10 31, 2001",AOSFI0JEYU4XM,B00005N7P0,Amazon Customer,Thank god this is not a Ziff Davis publication...,The straight scoop,1004486400,NaN,NaN
2,3,14,False,"03 24, 2007",A3JPFWKS83R49V,B00005N7OJ,Bryan Carey,Antiques Magazine is a publication made for an...,"Antiques Magazine is Good, but not for Everyone",1174694400,{'Format:': ' Print Magazine'},NaN
3,5,13,False,"11 10, 2006",A19FKU6JZQ2ECJ,B00005N7OJ,Patricia L. Porada,This beautiful magazine is in itself a work of...,THE DISCERNING READER,1163116800,{'Format:': ' Print Magazine'},NaN
4,5,NaN,True,"07 14, 2014",A25MDGOMZ2GALN,B00005N7P0,Alvey,A great read every issue.,Five Stars,1405296000,NaN,NaN

In [19]:
# selecting columns
selected_columns = ['reviewerID','asin','overall']
r_df = ratings_df[selected_columns]

# renaming columns
r_df = r_df.rename(columns={
    "reviewerID":"user_id",
    "asin":"magazine_id",
    "overall":"ratings"
})


get_memory_usage(r_df)

r_df

Total memory usage: 12.47 MB

              user_id magazine_id  ratings
0       AH2IFH762VY5U  B00005N7P0        5
1       AOSFI0JEYU4XM  B00005N7P0        5
2      A3JPFWKS83R49V  B00005N7OJ        3
3      A19FKU6JZQ2ECJ  B00005N7OJ        5
4      A25MDGOMZ2GALN  B00005N7P0        5
...               ...         ...      ...
89684   AB5HCI50SF1TK  B01HI8V1C2        5
89685  A2X11NZMPI7M0T  B01HI8V1C2        1
89686  A3EGFFBRQVO7L7  B01HI8V1C2        5
89687  A3H23AVKFN62ZT  B01HIZSSQM        5
89688  A1N6M7HRWMDE3D  B01HIZSSQM        5

[89689 rows x 3 columns]

In [20]:
# changing types of the columns
r_df = r_df.drop_duplicates()
r_df

              user_id magazine_id  ratings
0       AH2IFH762VY5U  B00005N7P0        5
1       AOSFI0JEYU4XM  B00005N7P0        5
2      A3JPFWKS83R49V  B00005N7OJ        3
3      A19FKU6JZQ2ECJ  B00005N7OJ        5
4      A25MDGOMZ2GALN  B00005N7P0        5
...               ...         ...      ...
89684   AB5HCI50SF1TK  B01HI8V1C2        5
89685  A2X11NZMPI7M0T  B01HI8V1C2        1
89686  A3EGFFBRQVO7L7  B01HI8V1C2        5
89687  A3H23AVKFN62ZT  B01HIZSSQM        5
89688  A1N6M7HRWMDE3D  B01HIZSSQM        5

[88368 rows x 3 columns]

In [21]:
r_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88368 entries, 0 to 89688
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88368 non-null  object
 1   magazine_id  88368 non-null  object
 2   ratings      88368 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.7+ MB

In [23]:
# changing types of the columns
column_types={
    "user_id":"string",
    "magazine_id":"category",
    "ratings":"int8",
}
new_rdf = r_df.astype(column_types)
get_memory_usage(new_rdf)
new_rdf.info()

Total memory usage: 7.11 MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 88368 entries, 0 to 89688
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   user_id      88368 non-null  string
 1   magazine_id  88368 non-null  category
 2   ratings      88368 non-null  int8
dtypes: category(1), int8(1), string(1)
memory usage: 1.7 MB

In [17]:
new_rdf.describe()

            ratings
count  88368.000000
mean       4.039358
std        1.418437
min        1.000000
25%        3.000000
50%        5.000000
75%        5.000000
max        5.000000

In [22]:
print("Total Number of Unique Reviewers/Users :", new_rdf.user_id.unique().__len__())
print("Total Number of Unique Magazines :", new_rdf.magazine_id.unique().__len__())

Total Number of Unique Reviewers/Users : 72098
Total Number of Unique Magazines : 2428

In [24]:
new_rdf.isnull().sum()

user_id        0
magazine_id    0
ratings        0
dtype: int64

In [23]:
# write the DataFrame to a CSV file
new_rdf.to_csv('magazines_rating.csv', index=False)